<div class="container">
    <form  class="mt-5">
        <ngb-rating [(rate)]="rateModel.rate" max="5"></ngb-rating>
        <pre>Rate: <b>{{rateModel.rate}}</b></pre>
        <input type="text" class="form-control" name="feedback" [(ngModel)]="rateModel.feedback">
        {{rateModel | json}}
        <div class="mt-1">
            <button type="button" class="btn btn-danger">Cancel</button>
            <button type="submit" class="btn btn-primary ml-5" (click)="onSave()">Submit</button>
        </div>

    </form>
</div>
